.aboutsection {
    border-top-color: rgb(166, 92, 7);
}

.abouth1 {
    color: rgb(247, 155, 48);
}

.abouth1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Gotham, sans-serif;
    color: #5173b1;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
}

.aboutbodytext {
    font-family: Gotham, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

p {
    color: rgb(177, 170, 160);
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Gotham, sans-serif;
    color: #555559;
    font-size: 18px;
    line-height: 26px;
}

.orangebutton.linkedin {
    display: inline-block;
    border-color: #0077b5;
    background-color: transparent;
    color: #0077b5;
}